body
{
    background-color: white;
    margin: 0%;
    padding: 0%;
}
.main-header {
    background-image: url(images/Spirited\ away.jpeg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}
.main-title
{
   display: flex;
   padding: 5vh;
   justify-content: space-around;
}
.title
{
    background-color: red;
}